services:
  - type: web
    name: lms-backend
    runtime: docker
    rootDir: Learning-Management-System-main/backend
    plan: free
    autoDeploy: true
    healthCheckPath: /actuator/health
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: default

